<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        Page Header
    </header>
    <h1>Codial/Profile
        <%= title%>
    </h1>
    <footer>
        Page Footer
    </footer>

</body>

</html>